{% extends 'base.html.twig' %}

{% block title %}Edit LicencePlate{% endblock %}

{% block body %}
    <h1>Edit LicencePlate</h1>

    {{ include('licence_plate/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('licence_plates_of_user') }}">back to list</a>

    {{ include('licence_plate/_delete_form.html.twig') }}
{% endblock %}
