<form method="post" action="{{ path('activity_delete', {'blocker': activity.blocker, 'blockee' : activity.blockee}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activity.blocker ~ activity.blockee) }}">
    <button class="btn btn-danger">DROP</button>
</form>