{% extends 'base.html.twig' %}

{% block title %} Main Page {% endblock %}

{% block body %}
    <h1>Main Page</h1>

    <a href={{ path('app_logout') }}>logout</a>
    <br>
    <a href={{ path('licence_plates_of_user') }}>my cars</a>
    <br>
    <a href={{ path('i_was_blocked') }}>someone blocked me</a>
    <br>
    <a href={{ path('i_blocked') }}>i blocked someone</a>

{% endblock %}

