{% extends 'base.html.twig' %}

{% block title %}How many users{% endblock %}

{% block body %}
  <h1>Create new User</h1>

  <table class="table">
    <tbody>
    <tr>
      <th>Id</th>
      <td>{{ licence_plate.id }}</td>
    </tr>
    </tbody>
  </table>
{% endblock %}